.Header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

.Header-link {
    margin-left: 20px;
    color: white;
    border-width: 1px;
    border-color: white;
}

.Header hr {
    color: white;
    size: 1px;
    margin: 0px;
}