.profile {
    margin-top: 10vh;
    flex-direction: row;
    background-color: #282c34;
    min-height: 70vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
}

.link {
    margin-left: 20px;
    color: white;
    border-width: 1px;
    border-color: white;
}

.load-btn {
    width: 200px;
    height: 50px;
    margin-left: 20px;
    border-width: 1px;
    border-color: white;
}